.wrapper{
    width: 50%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1{
    padding:10px;
    color: purple;
    align-content: center;
}

p{
    padding: 10px;
}

button{
    width: 15%;
    padding: 7px 15px;
    border-radius: 10px;
    cursor: pointer;
}