*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.results-container{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.user img{
    width: 100px;
    height: 100px;
    margin: 20px 0;
    border-radius: 50%;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}